body, html{
    background-color: floralwhite;
    /* Body Text Font*/
    font-family: 'Montserrat', 'Open Sans', 'Sans Serif';
}
/* Start of Nav Bar Styling */
nav {
    background-color: #252422;
}
#greeter{
    color:#EB5E28
}
.nav-link {
    color: #eb5e28;
}
.navbar-brand {
    color: #eb5e28;
}
.nav-link:hover {
    color: floralwhite;
}
.navbar-brand:hover {
    color: floralwhite;
}
.nav-link:visited {
    color: #eb5e28;
}
.navbar-brand:visited {
    color: #eb5e28;
}
/* Important! Make sure to put this class on the current page's nav-link in Nav Bar*/
.currentPage{
    color: floralwhite !important;
}
/* Start of Content Styling */
h2{
    color: black;
    font-family: 'PT Serif', Serif;
    font-size: 4vw;
    text-align: center;
}
.sectionStyle {
    background-color: floralwhite;
    margin: 0px;
    padding: 32px 8px 32px 8px;
    color:#252422;
}
.sectionStyle h3{
    color: #EB5E28;
    text-decoration: underline;
    font-family: 'PT Serif', Serif;
    font-size: 2vw;
    padding: 4px;
}
.sectionStyle a{
    color: #EB5E28;
    text-decoration: underline;
    font-family: 'PT Serif', Serif;
    font-size: 2vw;
    padding: 4px;
}
.sectionStyle h5{
    font-size: 1.25vw;
    padding: 4px;
}
.sectionStyle p{
    width: 200px;
    height:auto;
    font-size: 1.15vw;
    text-align: left;
    padding: 4px;
}
/* About Us Page Styling*/
.teamContainer{
    border: 2px solid floralwhite;
    border-radius: 16px;
}
.teamContainer img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.teamContainer:hover{
    box-shadow: 5px 10px 8px #ccc5b9;
    transition: 0.3ms;
    border: 1px solid #ccc5b9;
}
.vl{
    border-left: 2px solid #EB5E28;
    height: auto;
    margin: 50px 0px 50px 0px;
    
}
/* Causes the middle vertical line (vl) to disappear for small screens*/
@media (max-width: 767.98px) {
    #displayNone{
        display:none;
    }
 }
/* End of About Us Page Styling */
